# Build
/Binaries/
Intermediate/
__pycache__
moonlight-engine

# Moonlight Engine
Editor/Logs/

# Project Files
*.vcxproj
*.vcxproj.*
*.slnx
*.slnx.*
*.sln
*.sln.*
Makefile

# Misc
.idea/
.vs/
.vscode/